*{
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #fff;
    --text-color: #221314;
    --min-color: #6e54fa;
    --big-font: 6rem;
    --p-font: 1.1rem; 
}

header{
    position: fixed;
    top: 0; 
    right: 0; 
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 20px;
    transition: ease .40s;
} 
.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: blue;
    text-decoration: none;
} 
.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}
.navbar a:hover{
    background: greenyellow;
    color: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}
#menu-icon{
    color: var(--bg-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    background-image: url(../images/np.jpg);
    background-size: contain;
    align-items: center;
    background-repeat: no-repeat;
    padding: 80px 18%;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section .input-box {
    box-sizing: border-box;
    text-align: justify;
    margin: 10px;
}
.container{
    margin-top: 100px;
    position: relative;
    width: 100%;
}